@inject NavigationManager _nav

@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello</h1>

<p>
    Welcome to this interactive tutorial where lorem ipsum dolor sit amet,<br>
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore<br> 
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br>
    ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br> 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br>
    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,<br>
    sunt in culpa qui officia deserunt mollit anim id est laborum.
    <br><br>
    Click the button to begin!
</p>
<br>
<button class="btn btn-success" @onclick="@(()=>_nav.NavigateTo("/deadair"))">Continue</button>